@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm()){ 
    <div>
        <fieldset>
            <legend>Account Information</legend>
            @Html.EditorForModel()
            <p>
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
}